<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diego.m07proyecto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logoexpressat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".FilteredThemes"></activity>
        <activity android:name=".AddRespuesta" />
        <activity android:name=".Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Bienvenida3" />
        <activity android:name=".Bienvenida2" />
        <activity android:name=".Bienvenida" />
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/title_activity_menu_principal"
            android:theme="@style/NoActionBar" />
        <activity android:name=".PaginaPrincipalActivity" />
        <activity android:name=".RegistrarUsuarioActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".MainActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>